# Entorno virtual
venv/
.env

# Base de datos
db.sqlite3

# Archivos media (subidas de usuario)
media/

# Migraciones y __pycache__
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py

# Caché y archivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Configs de IDE/editor
.vscode/
.idea/

# Archivos temporales
*.bak
*.swp
*.swo
